<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<h1>login.htmlです</h1>
<body>
    <h1>ログインページ</h1>
    <p th:if="${param.error}" class="error">
        ユーザー名またはパスワードが違います。
    </p>
    <form method="post" action="index.html" th:action="@{/login}">
        ユーザー名: <input type="text" name="username"><br>
        パスワード: <input type="password" name="password"><br>
        <button type="submit">ログイン</button>
    </form>
    <p>ユーザー名（パスも同じ）</p>
    <p>admin, general, user</p>
</body>